body {
  background-color: #F6F1EA;
  font-family: "Montserrat", sans-serif
}

/* LANDING PAGE */

.landing{
  display: flex;
  flex-direction: row;


}
.landing-container{
  height: auto;
  width: 100%;
  background-color: #C49D7D;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-btn {
  
  display: inline-block;
  height: 100px;
  width: 176px;
  margin: 20%;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #F6F1EA;
  background-color: #5F8575;
  cursor: pointer;
  outline: none;
}
.landing-btn button:hover {
  background-color: #C49D7D;
}

/* LOGIN FORM */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  
  padding: 20px;
  border-radius: 10px;
  background-color: #5F8575;
  color: #F6F1EA;
}

/* Form input fields */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #F6F1EA;
}
/* Form submit button */
.login-btn{
  width: 30%;
  background-color: #F6F1EA;
  color: #5F8575;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Form submit button on hover */
.login-btn:hover {
  background-color: #C49D7D;
}

/* SIGN UP FORM */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  
  padding: 20px;
  border-radius: 10px;
  background-color: #5F8575;
  color: #F6F1EA;
}

/* Form input fields */
.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="password"],
.signup-form input[type="text"]
.signup-form input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #F6F1EA;
}

.signup-btn{
  width: 30%;
  background-color: #F6F1EA;
  color: #5F8575;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Form submit button on hover */
.signup-btn:hover {
  background-color: #C49D7D;
}

/* NAVIGATION BAR */
.profile_pic {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  
}
.profile_container {
  display: flex;
  margin-left: 80%;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2%;
}

.profile_greeting {
  font-family: "Montserrat", sans-serif;
  color: #F6F1EA;
  text-decoration: none;
  font-size: .6em;
  text-transform: uppercase;
  font-weight: 500;
  display: block-right;
  width: 80px;
  margin: 15px;
  transition: all 0.2s ease-in-out;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  background-color: #5F8575;
  padding: 10px;
  border-radius: 5px;
}


/* BOOK CARDS */
.book-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.book-img {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 7px;
}
.book-img img {
  border-radius: 7px 0 0 7px;
  height: 420px; 
  width: 327px;
}
.book-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #5F8575;
}
.book-text {
  height: 300px;
  width: 327px;
}
.book-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #F6F1EA;
}
.book-text h1,
.book-price-btn p {
  font-family: 'Bentham', serif;
}
.book-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #F6F1EA;
  letter-spacing: 0.2em;
}
.book-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #F6F1EA;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}
.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}
.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}
span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}
.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #F6F1EA;
  background-color: #5F8575;
  cursor: pointer;
  outline: none;
}
.product-price-btn button:hover {
  background-color: #C49D7D;
}
/* REVIEW CARDS */
.review-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

/* MY PROFILE PAGE */
.profile-image{
  height: 20%;
  width: 20%;
  border-radius: 10px;
}